.app {
  text-align: center;
}

.color-red {
  color: #ff7979;
}

.color-grey {
  color: #57606f;

}

.color-blue {
  color: #a8cfff;
}

.rotate {
  animation: rotate-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.header {
  position: fixed;
  top: 15px;
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-button {
  font-size: calc(100px + 2vmin);
  cursor: pointer;
}

.current-letter {
  font-size: calc(150px + 2vmin);
  cursor: pointer;
}

.history-container {
  position: fixed;
  bottom: 10px;
  text-align: center;
}

.history-container>span {
  color: #a8cfff;
}

.history-container>.clear-history {
  cursor: pointer;
  color: #57606f;
}

@keyframes rotate-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
